

/******* Decoration 1 *******/

.dec1 .svg-elem-1 {
    stroke-dashoffset: 103.16641998291016px;
    stroke-dasharray: 103.16641998291016px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}
  
.dec1.active .svg-elem-1 {
    stroke-dashoffset: 0;
}


/******* Decoration 2 *******/

.dec2 .svg-elem-1 {
    stroke-dashoffset: 132.28677368164062px;
    stroke-dasharray: 132.28677368164062px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}
  
.dec2.active .svg-elem-1 {
    stroke-dashoffset: 0;
}


/******* Decoration 3 *******/

.dec3 .svg-elem-1 {
    stroke-dashoffset: 138.3649139404297px;
    stroke-dasharray: 138.3649139404297px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}
  
.dec3.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(247, 163, 32);
}
  
.dec3 .svg-elem-2 {
    stroke-dashoffset: 138.36448669433594px;
    stroke-dasharray: 138.36448669433594px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}
  
.dec3.active .svg-elem-2 {
    stroke-dashoffset: 0;
}


/******* Decoration 4 *******/

.dec4 .svg-elem-1 {
    stroke-dashoffset: 144.17926025390625px;
    stroke-dasharray: 144.17926025390625px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}
  
.dec4.active .svg-elem-1 {
    stroke-dashoffset: 0;
}
  

/******* Decoration 5 *******/

.dec5 .svg-elem-1 {
    stroke-dashoffset: 143.5327606201172px;
    stroke-dasharray: 143.5327606201172px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}
  
.dec5.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(247, 163, 32);
}
  
.dec5 .svg-elem-2 {
    stroke-dashoffset: 143.53431701660156px;
    stroke-dasharray: 143.53431701660156px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}
  
.dec5.active .svg-elem-2 {
    stroke-dashoffset: 0;
}
  

/******* Decoration 6 *******/

.dec6 .svg-elem-1 {
    stroke-dashoffset: 162.60096740722656px;
    stroke-dasharray: 162.60096740722656px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}
  
.dec6.active .svg-elem-1 {
    stroke-dashoffset: 0;
}
  

/******* Decoration 7 *******/

.dec7 .svg-elem-1 {
    stroke-dashoffset: 143.5327606201172px;
    stroke-dasharray: 143.5327606201172px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                          fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}
  
.dec7.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgba(0, 0, 0, 0);
}


/******* Decoration 8 *******/

.dec8 .svg-elem-1 {
    stroke-dashoffset: 135.70132446289062px;
    stroke-dasharray: 135.70132446289062px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}
  
.dec8.active .svg-elem-1 {
    stroke-dashoffset: 0;
}
  
.dec8 .svg-elem-2 {
    stroke-dashoffset: 135.70248413085938px;
    stroke-dasharray: 135.70248413085938px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}
  
.dec8.active .svg-elem-2 {
    stroke-dashoffset: 0;
}


/******* Decoration 9 *******/

.dec9 .svg-elem-1 {
    stroke-dashoffset: 107.06117248535156px;
    stroke-dasharray: 107.06117248535156px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}
  
.dec9.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(241, 89, 40);
}
  
.dec9 .svg-elem-2 {
    stroke-dashoffset: 107.06153869628906px;
    stroke-dasharray: 107.06153869628906px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}
  
.dec9.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(241, 89, 40);
}
  

/******* Decoration 10 *******/

.dec10 .svg-elem-1 {
    stroke-dashoffset: 116.98834991455078px;
    stroke-dasharray: 116.98834991455078px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

.dec10.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(241, 89, 40);
}

.dec10 .svg-elem-2 {
    stroke-dashoffset: 116.9920654296875px;
    stroke-dasharray: 116.9920654296875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

.dec10.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(241, 89, 40);
}
  